name: Unit Tests

on:
  push:
    branches:
      - '**'
      - '![0-9]+.0'
    paths:
      - '**/src/**'
      - '**/i18n/**'
      - '**.py'
      - '**.xml'
      - '**.yaml'
  pull_request:
    branches:
      - '[0-9]+.0'

jobs:
  dependencies:
    name: Dependencies
    runs-on: ubuntu-latest
    container:
      image: gcr.io/iterativo/dockerdoo:13.0
      options: --user root
    outputs:
      get_modules: ${{ steps.get_modules.outputs.modules }}
      repo_name: ${{ steps.repo_slugs.outputs.repo_name }}
      repo_branch: ${{ steps.repo_slugs.outputs.repo_branch }}

    steps:
    - name: Extract repository name and branch
      id: repo_slugs
      shell: bash
      run: |
        REPO_NAME=$(echo "$GITHUB_REPOSITORY" | awk -F / '{print $2}' | sed -e "s/:refs//")
        REPO_URL=${REPO_NAME//[[:punct:]]/-}
        echo ::set-output name=repo_name::$REPO_URL

        REPO_BRANCH=$(echo ${GITHUB_REF#refs/heads/})
        BRANCH_URL=${REPO_BRANCH//[[:punct:]]/-}
        echo ::set-output name=repo_branch::$BRANCH_URL

    - name: Checkout local
      uses: actions/checkout@v2
      with:
        path: ${{ steps.repo_slugs.outputs.repo_name }}

    - name: Check Flake8
      uses: TrueBrain/actions-flake8@master
      with:
        ignore: E123,E133,E226,E241,E242,F811,F601,W503,W504,E203
        max_line_length: 13.0
        only_warn: 1

    - name: Download python addons script
      run: curl https://raw.githubusercontent.com/iterativo-git/dockerdoo/13.0/resources/getaddons.py -o getaddons.py

    - name: l10n-dominicana
      uses: actions/checkout@v2
      with:
        repository: odoo-dominicana/l10n-dominicana
        path: l10n-dominicana
        ref: '13.0-imp-000-jl'

    - name: python get_modules
      id: get_modules
      run: |
        output=$(python -c "from getaddons import get_modules; print(','.join(get_modules('$GITHUB_WORKSPACE/${{ steps.repo_slugs.outputs.repo_name }}', depth=3)))")
        echo "::set-output name=modules::$output"

    - name: Zip modules for upload
      run: sudo apt-get update && sudo apt-get install -y zip && zip -r modules.zip .

    - name: Upload repository results
      uses: actions/upload-artifact@v2
      with:
        name: modules
        path: modules.zip

  test:
    name: Test Modules
    needs: ['dependencies']
    runs-on: ubuntu-latest
    container:
      image: gcr.io/iterativo/dockerdoo:13.0
      options: -t --user root
      volumes:
        - ${{ github.workspace }}:/workspace

    services:
      db:
        image: postgres:11
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: odoo
          POSTGRES_PASSWORD: odoo
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Download modules results
      uses: actions/download-artifact@v2
      with:
        name: modules

    - run: unzip modules.zip

    - name: chown home for pypy
      uses: docker://gcr.io/iterativo/dockerdoo:13.0
      with:
        args: sudo chown -R 1000:1000 /github/home

    - name: Run odoo
      uses: docker://gcr.io/iterativo/dockerdoo:13.0
      with:
        args: odoo
      env:
        RUN_TESTS: '1'
        PIP_AUTO_INSTALL: '1'
        LOG_LEVEL: test
        WITHOUT_DEMO: 'False'
        EXTRA_MODULES: ${{ needs.dependencies.outputs.get_modules }}
        ODOO_EXTRA_ADDONS: /github/workspace

  build:
    name: Build & Push Image
    needs: ['dependencies', 'test']
    runs-on: ubuntu-latest

    steps:
    - name: Download  repository results
      uses: actions/download-artifact@v2
      with:
        name: modules

    - run: unzip modules.zip

    - name: Push to GitHub Packages
      uses: docker/build-push-action@v1
      with:
        dockerfile: ${{ needs.dependencies.outputs.repo_name }}/Dockerfile
        cache_froms: docker.pkg.github.com/${{ github.repository }}/${{ needs.dependencies.outputs.repo_name }}:${{ needs.dependencies.outputs.repo_branch }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        repository: ${{ github.repository }}/${{ needs.dependencies.outputs.repo_name }}
        tag_with_ref: true
